@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1495025411915'); /* IE9*/
  src: url('./iconfont.eot?t=1495025411915#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1495025411915') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1495025411915') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1495025411915#iconfont') format('svg'); /* iOS 4.1- */
}

:global .iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global .icon-pointer:before { content: "\e7bb"; }

:global .icon-zoomin:before { content: "\e76d"; }

:global .icon-zoomout:before { content: "\e76e"; }

:global .icon-pointer1:before { content: "\e65c"; }

:global .icon-cog:before { content: "\e600"; }
